#quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 17px;
}

h1 {
    padding: 10px;
    font-size: 30px;
    max-width: 800px;
    text-align: center;
}

.answer {
    display: flex;
    padding: 5px;
    margin: 5px;
    flex-direction: row;
    justify-content: center;
}

#timer {
    position: absolute;
    top:15px ;
    right:15px ;
}

#high-scores {
    position: absolute;
    top: 15px;
    left: 15px;
}

#high-scores-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.score-buttons {
    display: flex;
    padding: 5px;
    margin: 5px;
    flex-direction: row;
    justify-content: center;
}

.start-button {
    padding: 8px;
    margin: 10px;
}

#quiz-instructions {
    max-width: 600px;
    text-align: center;
    font-size: 20px;
    padding: 12px;
}

#submit-score {
    padding: 5px;
    margin: 10px;
}